@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h2 {
  font-weight: bold;
  color: rgba(13, 13, 14, 0.521);
}

body {
  font-family: Roboto, sans-serif;
  color: #212529b6;
  font-size: larger;
  background-color: #f6f9faab;
}

/* Navigation Bar */


.header {
  background-color: #f6f9faab;
}

/* HERO IMAGE */

#hero-outer {
    width: 100%;
}

#hero-image {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: static;
}

#thuy-lewis {
  height: 100%;
  margin-top: 20px;
  padding-top: 20px;
}


  /* About */

#about-thuy {
  background-color: #fbf6bde5;
  padding-top: 10px;
}

.about {
  color: rgba(13, 13, 14, 0.521);
  font-weight: bold;
}

#about {
  color: rgba(13, 13, 14, 0.521);
  font-family: roboto, sans-serif;
  font-size: larger;
}

 /* Testimonials */

 .testimonials {
  background-color: rgba(255, 202, 221, 0.561);
  padding-top: 10px;

 }

.blockquote {
  color: rgba(13, 13, 14, 0.521);
  font-size: larger;
  padding-left: 10px;
  padding-right: 10px;
}

.quote {
  color: rgba(13, 13, 14, 0.521);
  font-weight: bold;
  font-family: Roboto, sans-serif;
  padding-left: 10px;
}

/* Table */

.treatments {
  background-color: #f6f9faab;
  margin: 0 none;
}

#services {
  font-weight: bold;
  color: rgba(13, 13, 14, 0.521);
  text-align: center;
  }

table {
  border-collapse: separate;
}

.img-responsive { 
  position: absolute; 
}

.column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.img-fluid {
  margin-left: 33%;
  margin-right: 15px;
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.treatments {
  overflow: hidden;
}

#grid {
  margin-left: 0;
}


/* Contact */

.form-section {
  background-color: #f6f9faab;
  padding-left: 10px;
  padding-right: 10px;
}

.contact {
  font-weight: bold;
  color: rgba(13, 13, 14, 0.521);  
}

.enquiries {
  color: rgba(13, 13, 14, 0.521);
  font-size: larger;
}

.submit-button {
  text-align: center;
}

.btn-secondary {
  color: #6c757d;
  background-color: #fbbdf6e5;
  border-color: #6c757d;
  text-align: center;
}

.form-row {
  justify-content: center;
  padding-bottom: 10px
}

/* Footer */

#footer {
  font-family: Roboto, sans-serif;
  color: #212529b6;
}

a {
  color: #dc99d0;
}

a:hover {
  color: #dc99d0;
}

/* Google Map*/

#map {
  height: 400px;
  width: 100%;
}