@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #212529b6;
  font-size: larger;
  background-color: #f6f9faab;
}

h2 {
  font-weight: bold;
  color: #0d0d0e85;
}

h3 {
  text-align: center;
}

/* NAVIGATION BAR */

.header {
  background-color: #f6f9faab;
}

.navbar {
  font-size: larger;
  } 
    
/* HERO IMAGE */

.container-fluid {
  padding: 0;
  margin: 0;
}

img.hero-image {
  width: 100%;
}

#hero-outer {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-size: cover ;
}

/* ABOUT SECTION */

#thuy-lewis {
  padding-top: 50px;
  padding-right: 17px;
  width: 100%
}

#about-section {
  margin: 0%;
  padding-left: 10px;
  padding-right: 10px;
}

#about-thuy {
  background-color: #fbf6bd75;
  padding-top: 10px;
}

.about {
  color: #0d0d0e85;
  font-weight: bold;
  padding-left: 10px;
}

#about {
  color: #0d0d0e85;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  padding-left: 10px;
}

#about-section #thuy-lewis {
  width: 100%;
  padding-left: 10px;
  padding-right: 0;
}

 /* TESTIMONIAL SECTION */

 .testimonials {
  background-color: #ffcadd31;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
 }

.blockquote {
  color: #0d0d0e85;
  font-size: larger;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.quote {
  color: #0d0d0e85;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}

/* TREATMENT/ PRICELIST TABLE */

.col-auto {
  padding-left: 4%;
  padding-top: 5%;
}

div#table {
  margin-left: 25px;
}

.treatments {
  background-color: #f6f9faab;
  margin: 0;
}

#services {
  font-weight: bold;
  color: #0d0d0e85;
  text-align: center;
  }

table {
  border-collapse: separate;
  font-size: x-large;
}

.img-responsive { 
  position: absolute; 
}

.img-fluid {
  margin-left: 33%;
  margin-right: 15px;
  width: 70%;
  height: 40%;
  object-fit: contain;
  border: 4px solid #a01c9927;
  margin-bottom: 20px;
}

#image-example {
  padding-top: 90px;
  padding-right: 45px;
}

#image-examples {
  padding-top: 90px;
  padding-right: 45px;
}

.treatments {
  overflow: hidden;
}

.col-md-4 {
  flex: 10
  }

/* CONTACT SECTION */

.form-section {
  background-color: #f6f9faab;
  padding-left: 10px;
  padding-right: 10px;
}

.contact {
  font-weight: bold;
  color: #0d0d0e85;
  padding-top: 10px;  
}

.enquiries {
  color: #0d0d0e85;
  font-size: larger;
}

.submit-button {
  text-align: center;
}

.btn-secondary {
  color: #6c757d;
  background-color: #fbbdf6e5;
  border-color: #6c757d;
  text-align: center;
}

.form-row {
  justify-content: center;
  padding-bottom: 10px
}

.form-control {
  margin-bottom: 1px;
}

.info {
  margin-left: 10px;
}

/* GOOGLE MAP */

#map {
  padding-left: 10px;
  padding-right: 10px;
}

/* FOOTER SECTION */

.footer {
  padding-top: 20px;
  padding-bottom: 30px;
}

#footer {
  font-family: 'Roboto', sans-serif;
  color: #212529b6;
}

a {
  color: #dc99d0;
}

a:hover {
  color: #dc99d0;
}

/* GOOGLE MAP SECTION */

#map {
  height: 400px;
  width: 100%;
}

/* TREATMENTS.HTML */

#hero-outer h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#grid {
  padding-right: 5px;
}

/* GALLERY.HTML */

element.style {
  margin: 0;
}