@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: Roboto, sans-serif;
  color: #212529b6;

/* HERO IMAGE */

#hero-outer {
    width: 100%;
}

#hero-image {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: static;
}

#thuy-lewis {
  height: 100%;
  margin-top: 20px;
  padding-top: 20px;
}

.p {
  color: brown;
}

  /* About */

#about-thuy {
  background-color: #FBF6BD;
}

.about {
  color: rgba(13, 13, 14, 0.945);
  font-weight: bold;
}

#about {
  color: rgba(13, 13, 14, 0.945);
  font-family: roboto, sans-serif;
  font-size: larger;
}

 /* Testimonials */

 .testimonials {
  background-color: #ffb8d18f;
 }

.blockquote {
  color: rgba(13, 13, 14, 0.945);
  font-size: larger;
}

.quote {
  color: rgba(13, 13, 14, 0.945);
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

/* Table */

.treatments {
  background-color: #e8fdf0
}

#services {
  font-weight: bold;
  color: rgba(13, 13, 14, 0.945);
  }

#treatments {
  text-align: left;
}

.img-responsive { 
  position: absolute; 
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;